@font-face {
  font-family: "Helvetica400";
  src: local("Helvetica400"), url("./fonts/Helvetica400.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  border: 0;
  font-family: "Helvetica400", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 210mm;
  min-height: 297mm;
  background-color: beige;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar {
  --bs-progress-bar-bg: beige;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
      width: 210mm;
      height: 297mm;
      margin: 0;
      border: 0;
  }
  .page {
    background-color: beige !important;
    -webkit-print-color-adjust: exact;
    -webkit-font-smoothing: antialiased;
    print-color-adjust: exact;
  }
}
